{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<body>
<!-- Menu -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'dietas'%}"><img src="{% static 'media/logo.png' %}" width="120px"
                                                            height="56"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active"  style="font-size: 16px;" href="{% url 'dietas' %}">Dietas</a>
                </li>
                <li>
                    <a class="nav-link"  style="font-size: 16px;" href="{% url 'alimentos' %}">Alimentos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link"  style="font-size: 16px;" >{{ user }}</a>
                    </li>
                <span class="navbar-text">
                        |
                    </span>

                <li class="nav-item">
                    <a class="nav-link" style="font-size: 16px;" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        </button>
    </nav>
</header>
<!-- Final do menu -->

<!-- Inicio do conteudo -->
<main role="main">
    <div class="container">
        <p>
        <div class="offset-1"><h1>Dietas</h1></div>
        <div class="jumbotron col-10 row justify-content mx-auto mt-4">
            <div class="container bg-white">
                <form action="/creatediet" class="form-signin mt-4" method="post">
                    <p>
          			<input class="form-control ml-auto mr-auto" type="text" name="dietname" placeholder="Nova Dieta" pattern=".{4,45}" required>
                    <p>
                    <button class="btn btn-success" type="submit" style="width: 200px; height: 40px;">Criar dieta</button>
                    {% csrf_token %}
                </form>
                <form action="/deletediet" class="form-signin mt-4" method="post">
                    <select name="dietname" class="form-control">
                    {% for dieta in dietas %}
                    <option value="{{ dieta.name }}">{{ dieta.name }}</option>
                    {% endfor %}
                    </select>
                    <p></p>
                    <button class="btn btn-danger" type="submit" style="width: 240px;">Deletar dieta</button>
                    {% csrf_token %}
                </form>
                <form action="/rel" class="form-signin mt-4" method="post">
                    <p>
                    <label style="color:green; font-size:21px;" for="dietname">Relacionar alimento</label>
                    <select name="diet_id" class="form-control mt-3">
                    <optgroup label="Escolha a dieta">
                    {% for dieta in dietas %}
                    <option value="{{ dieta.id }}">{{ dieta.name }}</option>
                    {% endfor %}
                    </select>
                </optgroup>
                    <select name="food_id" class="form-control mt-4">
                    <optgroup label="Escolha o alimento">
                    {% for alimento in alimentos %}
                    <option value="{{ alimento.id }}">{{ alimento.name }}</option>
                    {% endfor %}
                </optgroup>
                    </select>
                    <p>
                    <button class="btn btn-success" type="submit" style="width: 240px;">Adicionar alimento na dieta</button>
                    {% csrf_token %}
                </form>
            <div class="container bg-white">
                {% for dieta in dietas %}
                <p>
                <a style="text-decoration: underline; text-decoration-color: green; color:black; font-size:20px;"data-toggle="collapse" href="#text{{dieta.id}}">{{dieta.name}}</a>
                <div class="collapse" id="text{{dieta.id}}">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Carboidratos</th>
                                <th scope="col">Proteinas</th>
                                <th scope="col">Gorduras</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for alimento in alimentos %}
                    {% for rel in ali_in_diet %}
                    {% if alimento.id == rel.food_id and dieta.id == rel.diet_id %}
                    <tr>
                    <td>{{ alimento.name }}</td>
                    <td>{{ alimento.carbo }}</td>
                    <td>{{ alimento.prot }}</td>
                    <td>{{ alimento.fat }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                    {% endfor %}
                    </table>
                    </div>
                    {% endfor %}
            </div>
        </div>
        <!-- Example row of columns -->
    </div>
    <hr>


        <!-- final do jumbotron -->
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="d-flex justify-content-center">
            <span class="text-muted">Developed by Mad Insight</span>
            </div>
        </div>
</footer>
</body>
{% endblock %}
