{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<body>
<!-- Menu -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main'%}"><img src="{% static 'media/logo.png' %}" width="130px"
                                                            height="55"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'alunos' %}">Alunos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'professor' %}">Professor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'alimentos' %}">Alimentos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link">Nome do aluno</a>
                    </li>
                <span class="navbar-text">
                        |
                    </span>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Logout</a>
                </li>
            </ul>
        </div>
        </button>
    </nav>
</header>
<!-- Final do menu -->

<!-- Inicio do conteudo -->
<main role="main">
    <div class="container">

        <div class="offset-2"><h1>Professor</h1></div>
        <div class="jumbotron col-10 row justify-content mx-auto mt-4">
            <div class="container bg-white">
                <form class="form-signin mt-4" method="post">
					{% csrf_token %}
                    <p>
					<label for="dietname">Diet name:</label>
          			<input type="text" name="username" placeholder="dietname">
                    <P>
       				<label for="user_id">user id:</label>
          			<input type="text" name="user_id" placeholder="user_id">

            </div>
        </div>
        <!-- Example row of columns -->
    </div>
    <hr>


        <!-- final do jumbotron -->
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="d-flex justify-content-center">
            <span class="text-muted">Developed by Mad Insight</span>
            </div>
        </div>
</footer>
</body>
{% endblock %}
