<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <Title>Tec-Inside Call System</Title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/btn.css">
    <link rel="stylesheet" href="css/slider.css">
    


    <link rel="icon" type="image/jpg" href="Content/img/tec05.png" />


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top ">
        <a class="navbar-brand mt-3" href="#"><img src="../../img/tec05.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quem somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cadastro">Cadastro</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <h6 class="mr-2">Login</h6>
                <input class="form-control mr-sm-2" type="text" ng-model="users.Name" placeholder="Email...">
                <input class="form-control mr-sm-2" type="password" ng-model="users.Password" placeholder="Password...">
                <button class="btn btn-outline-primary my-2 my-sm-0" ng-click="logar.acceptlogin(users)" type="submit"><i
                        class="fas fa-sign-in-alt"></i></button>
            </form>
        </div>
    </nav>


    <!------------------------------------------------------------------------------------------------------->



    <div class=" jumbotron col-12 ml-auto mr-auto text-center mb-0">

        <div class="slider mt-5">
            <ul>
                <li>
                    <img src="Content/img/slider1.png" height="500">
                </li>
                <li>
                    <img src="Content/img/slide2.jpg" height="500">
                </li>
                <li>
                    <img src="Content/img/slide3.jpeg" height="500">
                </li>
                <li>
                    <img src="Content/img/slide4.jpeg" height="500">
                </li>


            </ul>

        </div>
    </div>





    <!-- ----------------------------------------------------------------------------------------------------->

    <section id="" class="">


        <div class="jumbotron col-12 ml-auto mr-auto text-center mb-0">


            <h1 class="Text1"> NOSSO ATENDIMENTO</h1>

            <div class="mb-5">
                <p class="text2"> Por meio de atendimento totalmente online, utilizamos o sistema de chamados pronto para
                    te antender 24 horas por dia, 7 dias por semana.</p>

            </div>

            <div class="row mt-5">


                <div class="col-md-4 mt-2 ">


                    <img src="content/img/devices.png" height="250px;">




                </div>


                <div class="col-md-6 mt-5 ml-5 bordazinha">

                    <div class=" text-justify ">
                        <div class="col-md-12 text-center mb-5 mt-3 text-justify">


                            GARANTIA!



                            <p class="text-justify mt-3">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            <p class="text-justify mt-3 mb-4">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>


                                <h1 class="Text1 mt-5 ">QUALIDADE EM PRIMEIRO LUGAR</h1>
                                <div class="">
                                    <p class="text2 "> Seja bem vindo a nossa empresa trabalha com um sistema de chamados dinamico e responsivo
                                        ao cliente.
                                        <br /> Trabalhamos com Servidores e cloud.<br>
                                </div>


                        </div>
                    </div>

                </div>

            </div>
            <br><br><br><br><br><br><br>
        </div>

    </section>

    <!-- ----------------------------------------------------------------------------------------------------->
    <br>
    <section id="#" class="">


        <div class="jumbotron col-12 ml-auto mr-auto text-center mb-0 ">


            <h1 class="Text1 ">QUALIDADE EM PRIMEIRO LUGAR</h1>

            <div class="">
                <p class="text2 "> Seja bem vindo a nossa empresa trabalha com um sistema de chamados dinamico e responsivo
                    ao cliente.
                    <br /> Trabalhamos com Servidores e cloud.<br>
            </div>

            <div class="row mt-5  ">
                <div class="col-md-3 mt-5 ml-auto mr-auto jumbotron">

                    <div class="card-body mt-0  bordazinha transparent text-justify ">

                        <div class="row">

                            <i class="fas fa-desktop ml-auto mr-auto" style="font-size:70px;"></i>

                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 text-center mt-2">


                                GARANTIA!

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 ">


                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident.

                            </div>


                        </div>



                    </div>

                </div>
                <div class="col-md-3 mt-5 ml-auto mr-auto jumbotron">

                    <div class="card-body mt-0 bordazinha transparent text-justify ">
                        <div class="row">

                            <i class="fas fa-server ml-auto mr-auto" style="font-size:70px;"></i>

                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 text-center mt-2">


                                GARANTIA!

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 ">


                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident.

                            </div>


                        </div>



                    </div>

                </div>

                <div class="col-md-3 mt-5 mr-auto ml-auto jumbotron   ">

                    <div class=" card-body mt-0 transparent bordazinha text-justify ">

                        <div class="row">

                            <i class="fas fa-clock  ml-auto mr-auto" style="font-size:70px;"></i>

                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 text-center mt-2">


                                GARANTIA!

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 mt-2 ">


                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident.

                            </div>


                        </div>



                    </div>

                </div>



            </div>




            <br><br><br><br><br><br><br>
        </div>

    </section>

    <!--------------------------------------------------------------------------------------------------- -->
<div id="cadastro"></div>
<br>
<section id="" class="">



        <div class="jumbotron col-12 ml-auto mr-auto  mb-0 ">
            <h1 class="Text1 ml-5">CADASTRO:</h1>
    
            <div class="">
                <div class="container jumbotron black">
                    <div class="form-group row ">
    
                    </div>
                    <div class="form-group row">
    
                        <div class="col-8">
                            <label>Nome:</label>
                            <input class="form-control" type="text">
                        </div>
    
                        <div class="col-4">
                            <label>CPF:</label>
                            <input class="form-control" type="text" placeholder="xxx.xxx.xxx-xx">
                        </div>
                    </div>
                    <div class="form-group row mt-5">
                        <div class="col-6">
                            <label>Email:</label>
                            <input class="form-control" type="email" value="" id="">
                        </div>
    
    
                        <div class="col-6">
                            <label>Telefone:</label>
                            <input class="form-control" type="tel" value="(XX) 5555-5555">
                        </div>
                    </div>
    
                    <div class="form-group row mt-5">
                        <div class="col-6">
                            <label>Senha:</label>
                            <input class="form-control" type="password">
                        </div>
    
    
                        <div class="col-6">
                            <label>Confirmar senha:</label>
                            <input class="form-control" type="password">
                        </div>
                    </div>
    
                    <div class="form-group row mt-5">
                        <div class="col-6">
                            <label>UF</label>
                            <select class="form-control">
                                <option value="">Selecione</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
    
                        </div>
    
    
                        <div class="col-6">
                            <label>Cidade</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
    
    
    
                    <div class="row mt-5 ml-2">
                        <button class="btn btn-outline-success btn-success">CADASTRAR</button>
    
                    </div>
    
                </div>
            </div>
        </div>
    
    </section>

    <!--------------------------------------------------------------------------------------------------- -->

    <footer class="page-footer font-small blue pt-4">

        <div class="container-fluid text-center text-md-left">


            <div class="row">

                <div class="col-md-6 mt-md-0 mt-3">

                    <h5 class="text-uppercase">TEC INSIDE</h5>
                    <p>Preparados para atender qualquer uma de suas necessidades com TI</p>

                </div>

                <div class="col-md-4 mb-md-0 mb-3">

                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!"><i class="fas fa-mobile-alt"></i> Fale Conosco</a>
                        </li>
                        <li>
                            <a href="#!"> <i class="fas fa-sign-in-alt"></i> Cadastre-se</a>
                        </li>
                        <li>
                            <a href="#!"> <i class="fas fa-plus"></i> Login</a>
                        </li>

                    </ul>

                </div>

                <div class="col-md-1 mb-md-0 mb-3">

                    <img src="Content/img/tec05.png" height="100">

                </div>


            </div>


        </div>

        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="index.html"> Tec Inside LTDA</a>
        </div>


    </footer>


    <!--------------------------------------------------------------------------------------------------- -->

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper-utils.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
  
</body>

</html>