{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% load staticfiles %}

{% block content %}

<body class="text-center">
    <div class="jumbotron jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal"><img src="{% static 'media/logo.png' %}" width="191px" height="90"/></h1>
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                    {% if field.name == 'username' %}
                            <p>
                            <input for="{{field.id_for_label}}" type="text" class="form-control ml-auto mr-auto " style="width: 240px;" name="{{ field.name }}" placeholder="{{ field.label }}">
                            <p>
                    {% else %}
                            <input for="{{field.id_for_label}}" type="password" class="form-control ml-auto mr-auto " style="width: 240px;" name="{{ field.name }}" placeholder="{{ field.label }}">
                            <p>
                    {%endif%}
                        {% for error in field.errors %}
                            <p class="alert alert-danger col-md-auto mt-3">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <button class="btn btn-success mt-5" type="submit" style="width: 240px;">Registrar-se</button>
                </form>
                <p></p>
                <a href="{% url 'home' %}" class="btn btn-secondary"  style="width: 240px;" role="button">Vá para a página inicial</a>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="d-flex justify-content-center">
                <span class="text-muted">Desenvolvido por Mad Insight</span>
            </div>
        </div>
    </footer>
</body>
{% endblock %}
